@import "Variables"

.bt-action-btn
    width: 100px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 12px 4px rgba(0,0,0,0.2);
    background-color: #fff;
    color: $main-color !important;
    margin: auto;
    justify-content: center;
    transition: 0.3s ease;
    &:hover
        transition: 0.3s ease;
        background-color: #eaecee !important;

.signup-btn
    color: white
    background: #6662ce
    padding: 10px 20px
    font-size: 14px !important
    font-weight: 600 !important
    border-radius: 20px
    width: 150px;
    margin: auto auto !important;
    justify-content: center
.login-btn
    margin-left: 30px
    margin-right: 10px
    color: #a67dd7
    font-weight: 600

.navbar-end
    align-items: center !important

.landing-page-section
    margin-top: -5rem
    .section
        padding: 0rem 0rem
        @media (max-width: $breakpoint-tablet)
            padding-bottom: 0 !important

    .second-section
        padding-bottom: 3rem
        @media (max-width: $breakpoint-tablet)
            padding-top: 0 !important

.transparent-btn
    transition: 0.3s ease;
    &:hover, &:focus, &:focus-within
        transition: 0.3s ease;
        //background-color: rgba(43, 37, 35, 0.08) !important;
        border-radius: 25px;
        outline: none !important;

.content .title
    color: $main-color   
    font-size: 34px !important
    font-weight: bold !important

.content .topic-grid-title
    color: #333
    font-weight: 400

.content .topic-grid-link
    color: #757DE8